## contrôle du cache navigateur - Expire headers
<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault "access plus 7200 seconds"
	ExpiresByType image/jpg 			"access plus 1 week"
	ExpiresByType image/jpeg 			"access plus 1 week"
	ExpiresByType image/png 			"access plus 1 week"
	ExpiresByType image/gif 			"access plus 1 week"
	ExpiresByType image/svg+xml			"access plus 1 week"
	AddType image/x-icon .ico
	ExpiresByType image/ico 			"access plus 1 week"
	ExpiresByType image/icon 			"access plus 1 week"
	ExpiresByType image/x-icon 			"access plus 1 week"
	ExpiresByType text/css 				"access plus 1 week"
	ExpiresByType text/javascript 		"access plus 1 week"
	ExpiresByType text/html 			"access plus 7200 seconds"
	ExpiresByType application/xhtml+xml 	"access plus 7200 seconds"
	ExpiresByType application/javascript 	"access plus 1 week"
	ExpiresByType application/x-javascript 	"access plus 1 week"
	ExpiresByType application/x-shockwave-flash "access plus 1 week"
</IfModule>AddOutputFilterByType DEFLATE text/text application/xml application/xhtml+xml text/html text/javascript text/css text/plain
AddType image/webp
AddType img/1.webp
AddType img/agence-la-panthere.webp
AddType fonts/et-line.woff
AddType img/2.webp
AddType img/image-de-presentation.webp
AddType img/4.webp
AddType img/logo.webp
AddType img/3.webp
AddType js/gmaps.min.js
AddType img/agence-la-panthere-monochrome.svg
AddType js/jquery.touchSwipe.js
AddType /Optimisez-un-site-web-existant/style.css
AddType js/blocs.min.js
AddType css/et-line.css
AddType img/lines-h2-bg.webp

<Files *.webp>
    Header set Vary "Accept-Encoding"
    AddType "image/webp" .webp
    AddEncoding webp .webp
</Files>